/* Codigo CSS para ocultar el video-frame forzosamente*/

#video,
.landmark{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -9999999;
}

canvas{
    display: none;
}

/* UI - Interfaz 0 ------------------------------------------------------------------------------------------*/

.form-step{
    background-color: turquoise;
    transition: background-color 2.5s ease;
}

.form-step{
    border-top: 10px solid turquoise;
}

.form-body .form-next{
    margin: 0 !important;
    background-color: turquoise;
    transition: background-color 2.5s ease;
}

.row-center > *{
    margin: 0;
}

li .row-center h6{
    display: none;
}

.carousel-wrap .carousel-head > *:last-child{
    display: none;
}

.buttons-3{
    flex-flow: row-reverse;
}

a.btn-icon-text.btn-icon-text-3{
    text-indent: -9999px
}

a.btn-icon-text.btn-icon-text-3 img{
    margin: 0;
}

.wallet-icon{
    display: none;
}

.list-center{
    flex-flow: column-reverse;
}

.row-sp-btwn{
    justify-content: space-evenly;
}

.icon-3{
    display: none;
}

body{
    font-size: 8px;
}

.dropdown .dropdown-toggle svg{
    display: none;
}

.form-heading svg{
    display: none;
}

.form-body a svg{
    display: none;
}

.age-picker::before{
    display: none;
}

.affiliation-dropdown.checked .info svg{
    display: none;
}

.btn-icon-left svg{
    display: none;
}

.affiliation-dropdown .info svg{
    display: none;
}

.options .option-w-icon svg{
    display: none;
}

.tabs .menu-tab a svg{
    display: block;
}

a.btn-primary{
    background-color: turquoise;
}

a.btn-primary:hover{
    background-color: turquoise;
}

.btn-icon.color-primary.semi-bold svg{
    display: none;
}

.tag svg{
    display: none;
}

.form-content.form-column.w-progress svg{
    display: none;
}

/*  */

.form-content .form-grid {
    display: block;
}

.form-grid .form-body{
    width: 100%;
}


/* .card{
    background-color: turquoise;
} */

/* NEUTRAL ------------------------------------------------------------------------------------------*/ 

body[data-emotion="neutral"] .row-center > *{
    margin: 0;
}

body[data-emotion="neutral"] li .row-center h6{
    display: none;
}

body[data-emotion="neutral"] .carousel-wrap .carousel-head > *:last-child{
    display: none;
}

body[data-emotion="neutral"] .buttons-3{
    flex-flow: row-reverse;
}

body[data-emotion="neutral"] a.btn-icon-text.btn-icon-text-3{
    text-indent: -9999px
}

body[data-emotion="neutral"] a.btn-icon-text.btn-icon-text-3 img{
    margin: 0;
}

body[data-emotion="neutral"] .wallet-icon{
    display: none;
}

body[data-emotion="neutral"] .list-center{
    flex-flow: column-reverse;
}

body[data-emotion="neutral"] .row-sp-btwn{
    justify-content: space-evenly;
}

body[data-emotion="neutral"] .icon-3{
    display: none;
}

body[data-emotion="neutral"]{
    font-size: 8px;
}

body[data-emotion="neutral"] .form-step{
    background-color: turquoise;
    transition: all 2.5s ease;
}

body[data-emotion="neutral"] .form-step{
    border-top: 10px solid turquoise;
}

body[data-emotion="neutral"] .form-body .form-next{
    margin: 0 !important;
    background-color: turquoise;
    transition: all 2.5s ease;
}

body[data-emotion="neutral"] #download-old-tickets{
    background-color: turquoise;
}

body[data-emotion="neutral"] .row-center > *{
    margin: 0;
}

body[data-emotion="neutral"] li .row-center h6{
    display: none;
}

body[data-emotion="neutral"] .dropdown .dropdown-toggle svg{
    display: none;
}

body[data-emotion="neutral"] .form-heading svg{
    display: none;
}

body[data-emotion="neutral"] .form-body a svg{
    display: none;
}

body[data-emotion="neutral"] .age-picker::before{
    display: none;
}

body[data-emotion="neutral"] .affiliation-dropdown.checked .info svg{
    display: none;
}

body[data-emotion="neutral"] .btn-icon-left svg{
    display: none;
}

body[data-emotion="neutral"] .options .option-w-icon svg{
    display: none;
}

body[data-emotion="neutral"] .btn-icon.color-primary.semi-bold svg{
    display: none;
}

body[data-emotion="neutral"] .tag svg{
    display: none;
}

body[data-emotion="neutral"] .form-content.form-column.w-progress svg{
    display: none;
}

/*  */

body[data-emotion="neutral"] .form-content .form-grid {
    display: block;
}

body[data-emotion="neutral"] .form-grid .form-body{
    width: 100%;
}

body[data-emotion="neutral"] a.btn-primary{
    background-color: turquoise;
}

body[data-emotion="neutral"] a.btn-primary:hover{
    background-color: turquoise;
}

/* DISGUSTED ------------------------------------------------------------------------------------------*/

body[data-emotion="disgusted"]{
    background-color: #fff;
}

body[data-emotion="disgusted"]{
    font-size: 12px;
}

body[data-emotion="disgusted"] .form-step{
    background-color: antiquewhite;
    transition: all 2.5s ease;
}

body[data-emotion="disgusted"] .form-step{
    border-top: 10px solid antiquewhite;
}

body[data-emotion="disgusted"] .form-next{
    background-color: antiquewhite;
    transition: all 2.5s ease;
}

body[data-emotion="disgusted"] #download-old-tickets{
    background-color: antiquewhite;
}

body[data-emotion="disgusted"] h2{
    font-size: 25px;
}

body[data-emotion="disgusted"] #do-payment{
    font-size: 20px;
}

body[data-emotion="disgusted"] .row-center > *{
    margin: 0 10px 0 0;
}

body[data-emotion="disgusted"] li .row-center h6{
    display:block;
}

body[data-emotion="disgusted"] .buttons-3{
    flex-flow: row;
}

body[data-emotion="disgusted"] a.btn-icon-text.btn-icon-text-3{
    text-indent: 0;
    font-size: 14px;
}

body[data-emotion="disgusted"] .dropdown .dropdown-toggle svg{
    display: block;
}

body[data-emotion="disgusted"] .form-heading svg{
    display: none;
}

body[data-emotion="disgusted"] .form-body a svg{
    display: block;
}

body[data-emotion="disgusted"] .age-picker::before{
    display: none;
}

body[data-emotion="disgusted"] .affiliation-dropdown.checked .info svg{
    display: none;
}

body[data-emotion="disgusted"] .btn-icon-left svg{
    display: block;
}

body[data-emotion="disgusted"] .options .option-w-icon svg{
    display: none;
}

body[data-emotion="disgusted"] .btn-icon.color-primary.semi-bold svg{
    display: none;
}

body[data-emotion="disgusted"] .tag svg{
    display: none;
}

body[data-emotion="disgusted"] .form-content.form-column.w-progress svg{
    display: none;
}

/*  */

body[data-emotion="disgusted"] .form-content .form-grid {
    display: grid;
}

body[data-emotion="disgusted"] .form-grid .form-body{
    width: 90%;
}

body[data-emotion="disgusted"] a.btn-primary{
    background-color: #FF9E18;
}

body[data-emotion="disgusted"] a.btn-primary:hover{
    background-color: #FF9E18;
}

/* ANGRY ------------------------------------------------------------------------------------------*/

body[data-emotion="angry"]{
    background-color: #fff;
}

body[data-emotion="angry"]{
    font-size: 16px;
}

body[data-emotion="angry"] .form-step{
    background-color: aliceblue;
    transition: all 2.5s ease;
}

body[data-emotion="angry"] .form-next{
    background-color: aliceblue;
    transition: all 2.5s ease;
}

body[data-emotion="angry"] .form-step{
    border-top: 10px solid aliceblue;
}

body[data-emotion="sad"] #download-old-tickets{
    background-color: aliceblue;
}

body[data-emotion="angry"] h2{
    font-size: 25px;
}

body[data-emotion="angry"] #do-payment{
    font-size: 20px;
}

body[data-emotion="angry"] .row-center > *{
    margin: 0 10px 0 0;
}

body[data-emotion="angry"] li .row-center h6{
    display:block;
}

body[data-emotion="angry"] .buttons-3{
    flex-flow: row;
}

body[data-emotion="angry"] a.btn-icon-text.btn-icon-text-3{
    text-indent: 0;
    font-size: 14px;
}

body[data-emotion="angry"] .row-center > *{
    margin: 0;
}

body[data-emotion="angry"] li .row-center h6{
    display: block;
}

body[data-emotion="angry"] .carousel-wrap .carousel-head > *:last-child{
    display: block;
}

body[data-emotion="angry"] .wallet-icon{
    display: block;
}

body[data-emotion="angry"] .cc-short{
    font-size: 10px;
}

body[data-emotion="angry"] .icon-3{
    display: block;
}

body[data-emotion="angry"] .row-sp-btwn{
    justify-content: space-between;
}

body[data-emotion="angry"] .dropdown .dropdown-toggle svg{
    display: block;
}

body[data-emotion="angry"] .form-heading svg{
    display: block;
}

body[data-emotion="angry"] .form-body a svg{
    display: block;
}

body[data-emotion="angry"] .age-picker::before{
    display: block;
}

body[data-emotion="angry"] .affiliation-dropdown.checked .info svg{
    display: block;
}

body[data-emotion="angry"] .btn-icon-left svg{
    display: block;
}

body[data-emotion="angry"] .options .option-w-icon svg{
    display: block;
}

body[data-emotion="angry"] .btn-icon.color-primary.semi-bold svg{
    display: block;
}

body[data-emotion="angry"] .tag svg{
    display: block;
}

body[data-emotion="angry"] .form-content.form-column.w-progress svg{
    display: block;
}

/*  */

body[data-emotion="angry"] .form-content .form-grid {
    display: grid;
}

body[data-emotion="angry"] .form-grid .form-body{
    width: 90%;
}

body[data-emotion="angry"] a.btn-primary{
    background-color: #FF9E18;
}

body[data-emotion="angry"] a.btn-primary:hover{
    background-color: #FF9E18;
}

/* HAPPY ------------------------------------------------------------------------------------------*/

/* body[data-emotion="happy"]{
    background-color: green;
} */

/* DISGUST ------------------------------------------------------------------------------------------*/

/* body[data-emotion="disgust"]{
    background-color: aqua;
} */

/* FEARFUL ------------------------------------------------------------------------------------------*/

/* body[data-emotion="fearful"]{
    background-color: blueviolet;
} */

/* SURPRISED ------------------------------------------------------------------------------------------*/
/* 
body[data-emotion="surprised"]{
    background-color: yellow;
} */

